<h1> Add a Product: </h1>

<h2>
<%= form_tag '/products' do %>
  
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :price %>
  <%= text_field_tag :price %>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <%= label_tag :brand %>
  <%= text_field_tag :brand %>
  <%= label_tag :category %>
  <%= text_field_tag :category %>
  <%= label_tag :image_url %>
  <%= text_field_tag :image %>
  <%= label_tag :vendor_id %>
  <%= text_field_tag :vendor_id %>
  <%= submit_tag "Add Product" %>  

<% end %>

</h2> 

 