<!DOCTYPE html>
<html>

<head>
  <title>MiniCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/products/?filter=discount">Discounts<span class="sr-only">(current)</span></a></li>
          <li>
            <a href="/products/random">I'm Feeling Lucky!</a></li>
          <li>
            <a href="/products/new">Add Product</a></li>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <%= form_tag '/products', :method => :get do %>
                <%= text_field_tag :search %>
                <%= submit_tag "Search" %>
              <% end %>
            </div>
          </form>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/products/?category=clothes">Clothes</a></li>
                <li><a href="/products/?category=boots">Boots</a></li>
                <li><a href="/products/?category=posters">Posters</a></li>
                <!-- <li class="divider"></li> -->
                <!-- <li><a href="#">Separated link</a></li> -->
              </ul>
          </li>  
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Price Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/products/?sort=price&direction=desc">Highest to Lowest </a></li>
                <li><a href="/products/?sort=price&direction=asc">Lowest to Highest </a></li>
              </ul>
          </li>
        </ul>
        
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/users/sign_up">Sign Up</a></li>
          <li>
            <a href="/users/sign_in">Log In</a></li>  
          <li>
            <a href="/users/sign_out">Sign Out</a></li>  
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= message %></strong>
    </div>
   
  <% end %>

  <%= yield %>

</div>  



</body>
</html>
